NODE_PORT = 3004
NODE_ENV = development

DATABASE_URL = "postgresql://user:password@localhost:5432/newsletter?schema=public"

RABBITMQ_URL = "amqp://guest:guest@localhost:5672"

PROFILE_SERVICE_URL = "http://localhost:3002"
